<?php

// set directories should be fix
$directories = [
    'config',
    'src',
];

$finder = PhpCsFixer\Finder::create();

foreach ($directories as $directory) {
    $finder->in(__DIR__ . '/' . $directory);
}

$PSR12 = [
    'blank_line_after_opening_tag' => true,
    'braces' => ['allow_single_line_closure' => true],
    'compact_nullable_typehint' => true,
    'concat_space' => ['spacing' => 'one'],
    'declare_equal_normalize' => ['space' => 'none'],
    'function_typehint_space' => true,
    'new_with_braces' => true,
    'method_argument_space' => [
        'on_multiline' => 'ensure_fully_multiline',
    ],
    'no_empty_statement' => true,
    'no_leading_import_slash' => true,
    'no_leading_namespace_whitespace' => true,
    'no_whitespace_in_blank_line' => true,
    'return_type_declaration' => ['space_before' => 'none'],
    'single_trait_insert_per_statement' => true,
];

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'cast_spaces' => [
            'space' => 'none',
        ],
        'phpdoc_align' => [
            'tags' => ['method', 'property', 'return', 'throws', 'type', 'var'],
        ],
        'phpdoc_order' => true,
        'phpdoc_to_comment' => false,
        'ternary_to_null_coalescing' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_class_elements' => true,
        'array_syntax' => [
            'syntax' => 'short',
        ],
    ] + $PSR12)
    ->setFinder($finder)
;
